.hero{
    height: 420px;
    /* background-image: url('../images/hero2.jpg'); propiedad para indicar uan imagen de fondo, recibe una url */
    background-color: #d49a89; /*Así como se puede añadir imagen, tambipen se puede añadir color al fondo*/
    background-size: 250px 300px; /*propiedad para establecer el tamaño de la imagen de fondo, ancho por alto*/
    background-repeat: no-repeat; /*indicamos que la foto del background no se repita debido al espacio sobrante que había*/
    background-position-x: right ; /*background position cambia la posicion del fondo con respecto a ejes x y, o se puede indicar cada uno específicamente */
    display: flex; /*permitimos que los hijos de hero tengan estructura flexible*/
    align-items: center; /*verticalmente alineamos los elementos al centro*/
    justify-content: space-between;
}

.hero h1{
    font-family: 'Bad Script', cursive;
}

.img-wrapper{
    object-fit: cover;
    margin-right: 80px;
}